<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Courgette&family=Lobster&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
            rel="stylesheet"
        />

        <title>Tourism</title>
        <link rel="stylesheet" href="..\Kalindu\footer.css" />
        <link rel="stylesheet" href="..\Kalindu\navbar.css" />
        <link rel="stylesheet" href="..\Kalindu\footer.css" />
        <link rel="stylesheet" href="..\Kalindu\index.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    </head>
    <body>
        <header class="header">
            <div class="imageFilter">
                <img
                    src="..\Kalindu\images\tomas-malik-CKEmZAw0Z8c-unsplash.jpg"
                    alt="main-image"
                    class="main-image"
                />
            </div>
            <nav>
                <div class="logo">LankaVenture</div>
                <ul class="navlist">
                    <li><a href="..\Kalindu\index.html" class="nowOn">Home</a></li>
                    <li><a href="..\Senura\destinations.html">Destinations</a></li>
                    <li><a href="#shop.html">Shop</a></li>
                    <li><a href="..\Githmin\quizst.html">Quiz</a></li>
                    <li><a href="..\Kalindu\feedback.html">Feedback</a></li>
                    <li><a href="..\Githmin\aboutus.html">About Us</a></li>
                </ul>
            </nav>
            <div class="caption" data-aos="fade-up" data-aos-duration="1500">
                <div class="text">Find your perfect Destination</div>
                <div class="text">in Sri Lanka</div>
            </div>
        </header>

        <div class="introductionCont">
            <div class="introduction">
                <div class="introDesc">
                    <p class="introTitle">About Sri Lanka</p>
                    <p>
                        Sri Lanka is one of the most popular vacation
                        destinations and attracts adventurers of all kinds. It
                        is a region of myth, folklore, history, and one of the
                        richest cultures. Maybe you enjoy the peace and quiet of
                        nature and leisurely hikes across paths. Perhaps you
                        enjoy unwinding by the water while the sun and a fresh
                        breeze caress your face. Whatever your thrill, Sri Lanka
                        has it all with its top tourist attractions. Perhaps you
                        prefer nightlife, or perhaps you enjoy a little gambling
                        at a casino.
                        <br /><br />
                        Despite its tiny size, Sri Lanka contains eight UNESCO
                        World Heritage Sites that must be visited, as well as
                        religious sites, numerous national parks, exquisite tea
                        estates, and, of course, golden sandy beaches. Take a
                        breathtaking train trip through plantations and hills
                        before playing blackjack or poker at one of the many
                        casinos. Local favorites include creamy curries,
                        aromatic polos, and the unusual wood apple. Are you
                        excited yet? You ought to be! There is no location like
                        Sri Lanka for the greatest tourist places to visit, with
                        so much diversity and culture. If you're still not sure
                        if this is the place to go, keep reading and you'll be
                        convinced!
                    </p>
                </div>
                <div class="introImageCont">
                    <img
                        src="..\Kalindu\Images\mariana-proenca-EDbWbRuOJFQ-unsplash.jpg"
                        alt="Srilankan"
                        class="introImage"
                    />
                </div>
            </div>
        </div>
        <div class="bodysection">
            <div class="image-grid">
                <div class="imageCont image-grid-row-2">
                    <img
                        class="image"
                        src="../Kalindu/Images/oliver-sjostrom-gofDws5Y_CU-unsplashDunhinda-min.jpg"
                        alt="Dunhinda falls"
                    />
                </div>
                <div class="imageCont image-grid-col-2">
                    <img
                        class="image"
                        src="../Kalindu/Images/sigiriya-unsplash-edit-min.jpg"
                        alt="Sigiriya"
                    />
                </div>
                <div class="imageCont image-grid-col-1">
                    <img
                        class="image"
                        src="../Kalindu/Images/hendrik-cornelissen-jpTT_SAU034-unsplash-min.jpg"
                        alt="Ella"
                    />
                </div>
                <div class="imageCont">
                    <img
                        class="image"
                        src="../Kalindu/Images/eddy-billard-ph94LiUe_fE-unsplashPolonnaruwa-min.jpg"
                        alt="Sacred places"
                    />
                </div>
                <div class="imageCont">
                    <img
                        class="image"
                        src="../Kalindu/Images/1536044065.jpg"
                        alt="Kandy"
                    />
                </div>
                <div class="imageCont">
                    <img
                        class="image"
                        src="../Kalindu/Images/aditya-siva-oolMDaGRRDQ-unsplashHikkaduwa-min.jpg"
                        alt="Hikkaduwa"
                    />
                </div>
                <div class="imageCont image-grid-col-1">
                    <img
                        class="image"
                        src="../Kalindu/Images/shainee-fernando-RdZ6t41NmE0-unsplashCropped-min.jpg"
                        alt="Galle"
                    />
                </div>
            </div>
        </div>
   <footer>
        <div class="footerMainCont">
            <div class="footerLine"></div>
            <div class="footer">
                <div class="footerCompany">
                    <div class="footerLogo">LankaVenture</div>
                    <div class="footerLogoDesc">
                        - Discover the magic of Sri Lanka with
                        <span class="footerLogoOnly">LankaVenture</span>.
                    </div>
                </div>
                <div class="footerCont">
                    <div class="footerTitle">QUICK LINKS</div>
                    <div class="footerQuickLinks">
                        <ul class="footerQLList">
                            <li><a href="#top">Home</a></li>
                            <li>
                                <a
                                    href="../Senura/destinations.html"
                                    >Destinations</a
                                >
                            </li>
                            <li><a href="#../shop ekak na bn thama">Shop</a></li>
                            <li><a href="../Githmin/quizst.html">Quiz</a></li>
                            <li><a href="../Kalindu/feedback.html">Feedback</a></li>
                            <li><a href="../Githmin/aboutus.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footerCont">
                    <div class="footerTitle">CONTACT US</div>
                    <div class="foooterContactInfo">
                        <ul class="footerCIList">
                            <li class="footerCIListItems">
                                <div class="footerCIName">Yashmitha:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                            <li class="footerCIListItems">
                                <div class="footerCIName">Kalindu:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                            <li class="footerCIListItems">
                                <div class="footerCIName">Githmin:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                            <li class="footerCIListItems">
                                <div class="footerCIName">Senura:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footerCont">
                    <div class="footerTitle">FEEDBACK</div>
                    <div class="footerFeedbackInfo">
                        <div class="footerFI">Send us an email to :</div>
                        <div class="footerFEmail">
                            <a href="#feedback.html"
                                >lankaventure.services@gmail.com</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        </body>
        <script src="index.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
