<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Lobster&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!--Linking external style sheet-->
    <link rel="stylesheet" href="../Style/aboutus.css" />
    <link rel="stylesheet" href="../Style/navbar.css" />

    <title>Student Details</title>
  </head>
  <body>
    <div class="imageCont"> <img class="mainImage"src="Githmin/Image/backforSD.jpg" alt="image"></div>
   
    <header>
      <nav>
        <div class="logo">LankaVenture</div>
        <ul class="navlist">
          <li><a href="index.html">Home</a></li>
          <li><a href="#destinations.html">Destinations</a></li>
          <li><a href="#shop.html">Shop</a></li>
          <li><a href="#quiz.html">Quiz</a></li>
          <li><a href="#feedback.html">Feedback</a></li>
          <li><a href="#aboutus.html" class="nowOn">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="titleSection">
        <h1>
          Group S8 <br />
          Our Team
        </h1>
      </div>
      <div class="teamDescription">
        <p><b> Creators of Our Web Page </b></p>
      </div>
      <div class="row">
        <div class="column">
          <div class="member">
            <div class="member-img1">
              <div><img src="Githmin/Image/yashmitha.jpg" alt="memberOne" /></div>
            </div>
            <div class="member-desc">
              <div class="inner">
                <h2>Yashmitha Dilshan</h2>
                <p>Student One</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="member">
            <div class="member-img2">
              <div><img src="Githmin/Image/kalindu.jpg" alt="memberTwo" /></div>
            </div>
            <div class="member-desc">
              <div class="inner">
                <h2>Kalindu Gunathilaka</h2>
                <p>Student Two</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="member">
            <div class="member-img3">
              <div><img src="Githmin/Image/githmin.jpg" alt="memberThree" /></div>
            </div>
            <div class="member-desc">
              <div class="inner">
                <h2>Githmin Hesara</h2>
                <p>Student Three</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="member">
            <div class="member-img4">
              <div><img src="Githmin/Image/senura.jpg" alt="memberFour" /></div>
            </div>
            <div class="member-desc">
              <div class="inner">
                <h2>Senura Nimdinu</h2>
                <p>Student Four</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />
  
</html>
