<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Courgette&family=Lobster&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
            rel="stylesheet"
        />
    
    <title>Sitemap</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="sitemap.css">
	<link rel="stylesheet" type="text/css" href="navbar.css">
	<link rel="stylesheet" type="text/css" href="footer.css">
</head>

<body>
<nav>
                <div class="logo">LankaVenture</div>
                <ul class="navlist">
                    <li><a href="#top" class="nowOn">Home</a></li>
                    <li>
                        <a href="/Components/Destinations/anuradhapura.html"
                            >Destinations</a
                        >
                    </li>
                    <li><a href="#shop.html">Shop</a></li>
                    <li><a href="#quiz.html">Quiz</a></li>
                    <li><a href="#feedback.html">Feedback</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </nav>
			
    <div class="svgDiv">
		 <svg width="100%" height="120" class="svgImage">
                <rect x="4%" width="93%" height="70" id="home" />
                <text y='50' x='44%' fill='white' font-size='40px' class="logo" >LankaVenture</text>
        
            <line x1='50%' y1='72' x2='50%' y2='100' />
            <line x1='12%' y1='100' x2='89%' y2='100' />
            <line x1='12%' y1='100' x2='12%' y2='120' />
            <line x1='28%' y1='100' x2='28%' y2='120' />
            <line x1='43%' y1='100' x2='43%' y2='120' />
            <line x1='58%' y1='100' x2='58%' y2='120' />
            <line x1='73%' y1='100' x2='73%' y2='120' />
            <line x1='89%' y1='100' x2='89%' y2='120' />
    </svg>
    <div>
        <svg width="20%" height='80'>
            <a href="" >
                <g class="firstDivisionG">
                    <rect x='25%' width="75%" height="60" id="travel" class="firstdiv" />
                    <text y='39' x='38%' fill='white' font-size='25px'>destinations</</text>
                </g>
            </a>
            <line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
        <svg width="15%" height='80'>
            <a href="home.html">
                <g class="firstDivisionG">
                    <rect width="100%" height="60" id="destination" class="firstdiv" />
                    <text y='38' x='30%' fill='white' font-size='25px'>home</text>
                </g>
            </a>
        </svg>
        <svg width="15%" height='80'>
            <a href="shop.html">
                <g class="firstDivisionG">
                    <rect width="100%" height="60" id="shop" class="firstdiv" />
                    <text y='38' x='35%' fill='white' font-size='25px'>Shop</text>
                </g>
            </a>
        </svg>
        <svg width="15%" height='80'>
            <a href="QuizStart.html">
                <g class="firstDivisionG">
                    <rect width="100%" height="60" id="quiz" class="firstdiv" />
                    <text y='39' x='38%' fill='white' font-size='25px'>Quiz</text>
                </g>
            </a>
        </svg>
        <svg width="15%" height='80'>
            <a href="feedback.html">
                <g class="firstDivisionG">
                    <rect width="100%" height="60" id="feedback" class="firstdiv" />
                    <text y='39' x='28%' fill='white' font-size='25px'>Feedback</text>
                </g>
            </a>
        </svg>
        <svg width="15%" height='80'>
            <a href="StudentDetails.html">
                <g class="firstDivisionG">
                    <rect width="100%" height="60" id="about" class="firstdiv" />
                    <text y='38' x='28%' fill='white' font-size='25px'>About Us</text>
                </g>
            </a>
        </svg>
    </div>
    
    <div>
        <svg width="20%" height='80'>
            <a href="P_Central.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='40' x='33%' fill='white' font-size='25px'>Dambulla Temple</text>
                </g>
            </a>
            <line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
    <div>
        <svg width="20%" height='80'>
            <a href="P_Eastern.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Yala Park</text>
                </g>
            </a>
            <line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
    <div>
        <svg width="20%" height='80'>
            <a href="P_Northern.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Sigiriya</text>
                </g>
            </a>
			<line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
	<div>
        <svg width="20%" height='80'>
            <a href="P_North_Central.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Galle</text>
                </g>
            </a>
			<line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
	<div>
        <svg width="20%" height='80'>
            <a href="P_North_Western.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Jaffna</text>
                </g>
            </a>
			<line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
	<div>
        <svg width="20%" height='80'>
            <a href="P_Sabaragamuwa.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Nuwara Eliya</text>
                </g>
            </a>
			<line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
	<div>
        <svg width="20%" height='80'>
            <a href="P_Southern.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Trincomalee</text>
                </g>
            </a>
			<line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
	<div>
        <svg width="20%" height='80'>
            <a href="P_Uva.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='38' x='33%' fill='white' font-size='25px'>Polonnaruwa</text>
                </g>
            </a>
			<line x1='59%' y1='60' x2='59%' y2='80' />
        </svg>
    </div>
	<div>
        <svg width="20%" height='80'>
            <a href="P_Western.html">
                <g class="pages">
                    <rect x='25%' width="75%" height="60" class="province" />
                    <text y='39' x='33%' fill='white' font-size='25px'>Adam’s Peak</text>
                </g>
            </a>
            
        </svg>
    </div>
	</div>
    <footer>
	<div class="footerMainCont">
            <div class="footerLine"></div>
            <div class="footer">
                <div class="footerCompany">
                    <div class="footerLogo">LankaVenture</div>
                    <div class="footerLogoDesc">
                        - Discover the magic of Sri Lanka with
                        <span class="footerLogoOnly">LankaVenture</span>.
                    </div>
                </div>
                <div class="footerCont">
                    <div class="footerTitle">QUICK LINKS</div>
                    <div class="footerQuickLinks">
                        <ul class="footerQLList">
                            <li><a href="#top">Home</a></li>
                            <li>
                                <a
                                    href="/Components/Destinations/anuradhapura.html"
                                    >Destinations</a
                                >
                            </li>
                            <li><a href="#shop.html">Shop</a></li>
                            <li><a href="#quiz.html">Quiz</a></li>
                            <li><a href="#feedback.html">Feedback</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footerCont">
                    <div class="footerTitle">CONTACT US</div>
                    <div class="foooterContactInfo">
                        <ul class="footerCIList">
                            <li class="footerCIListItems">
                                <div class="footerCIName">Yashmitha:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                            <li class="footerCIListItems">
                                <div class="footerCIName">Kalindu:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                            <li class="footerCIListItems">
                                <div class="footerCIName">Githmin:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                            <li class="footerCIListItems">
                                <div class="footerCIName">Senura:</div>
                                <div class="footerCINumber">
                                    <a href="tel:0707790977">0707790977</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footerCont">
                    <div class="footerTitle">FEEDBACK</div>
                    <div class="footerFeedbackInfo">
                        <div class="footerFI">Send us an email to :</div>
                        <div class="footerFEmail">
                            <a href="#feedback.html"
                                >lankaventure.services@gmail.com</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</footer>
</body>

</html>